.dome h2 {
  background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 68px;
  line-height: 80px;
}
.container {
  background-color: black;
  width: 100%;
  height: 400px;
  overflow: hidden;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: columns;
  justify-content: center;
}

.dome {
  margin: auto;
  background: linear-gradient(
    to bottom,
    rgba(102, 205, 104, 0.19) 0.2%,
    rgba(255, 255, 255, 0) 40%
  );
  width: 90vw;
  padding-top: 50px;
  border-radius: 100%;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}

.about-us-description {
  margin: auto;
  background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 800px;
  height: 500px;
  text-align: center;
  margin-top: 70px;
  font-family: "Manrope";
  font-style: normal;
  font-size: 22px;
  line-height: 40px;
  font-weight: normal;
}

@media (max-width: 800px) {
  .dome {
    width: 80vw;
  }
  .about-us-description {
    width: 400px;
    height: 150px;
    font-size: 15px;
    margin-top: 30px;
    line-height: 20px;
  }
  .dome h2 {
    font-size: 40px;
    line-height: 50px;
  }
}
