.NavCont {
  position: fixed;
  top: 50px;
  left: 50%;
  padding: 20px;
  border: var(--green) solid 1px;
  border-radius: 40px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(9px);
  color: white;
}

.NavItem {
  font-family: Manrope;
  margin: 0 10px;
  background: none;
  cursor: pointer;
}

.NavActive {
  text-shadow: var(--white) 0 0 1px, var(--white) 0 0 3px, var(--white) 0 0 10px;
}
