.spons-dome h2 {
  background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 68px;
  line-height: 80px;
  margin-bottom: 50px;
  margin-top: 10px;
}
.spons-container {
  background-color: black;
  width: 100%;
  height: 1300px;
  overflow: hidden;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  display: flex;
  flex-direction: columns;
  justify-content: center;
}

.spons-dome {
  margin: auto;
  background: linear-gradient(
    to bottom,
    rgba(102, 205, 104, 0.19) 0%,
    rgba(255, 255, 255, 0) 20%
  );

  width: 90vw;
  padding-top: 50px;
  border-radius: 100%;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}

.spons-dome h3 {
  background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  margin-bottom: 20px;
}

.sponsor img {
  height: 95px;
  width: 120px;
}

.sponsor {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.sponsor h4 {
  color: white;
  padding-top: 20px;
}


.track-partners{
  display: flex;
  flex-direction: row;
  padding-left: 28vw;
}

.track-sponsor{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding-right: 5vw;
}

.track-sponsor img {
  height: 80px;
  width: 120px;
}

.track-sponsor h4 {
  color: white;
  padding-top: 20px;
}



.devfolio{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  /* padding-right: 3vw; */
}

.devfolio img{
  height: 150px;
  width: 120px;
}


@media (max-width: 800px) {
  .spons-dome {
    width: 80vw;
    margin: 0;
  }

  .spons-dome h2 {
    font-size: 40px;
    line-height: 50px;
    margin-top: 0;
  }

  .spons-dome h3 {
    font-size: 28px;
    line-height: 32px;
  }

  .spons-container {
    height: 1500px;
  }

  .track-partners{
    display: flex;
    flex-direction: row;
    padding-left: 0px;
  }

  .track-sponsor{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding-right: 10px;
  }

  .track-sponsor img{
    height: 50px;
    width: 100px;
  }
  
}
