.timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 800px;
  background-color: transparent;
  /* background-color: pink; */
}

.big-box {
  border: 1.5px solid #79f9ba;
  font-family: "Manrope";
  border-radius: 48px;
  /* position: absolute; */
  width: 1180px;
  height: 832px;
  left: 130px;
  top: 1638px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(251, 251, 251, 0.04) 0%,
    rgba(251, 251, 251, 0.04) 100%
  );
  padding-left: 150px;
  padding-right: 150px;
  margin: auto;
}

.headline {
  font-family: "Manrope", sans-serif;
  /* background-color: transparent; */
  /* background-color: pink; */
  /* position: absolute; */
  /* width: 268px;
  height: 80px;
  left: 573px;
  top: 1511px; */

  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 68px;
  line-height: 80px;
  /* identical to box height, or 118% */

  /* /* letter-spacing: -0.02em; */

  background: linear-gradient(
    159.45deg,
    #ffffff -7.96%,
    rgba(255, 255, 255, 0) 124.67%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-colour: transparent; */
}

.leftArrow {
  border-radius: 50%;
  padding: auto;
  /* margin: 4 0 4 0; */
  width: 75px;
  height: 75px;
  background-color: black;
  /* background-color: transparent; */
}

.leftArrow:hover {
  background-color: #79f9ba;
}

.rightArrow {
  border-radius: 50%;
  margin-left: 50px;
  width: 75px;
  height: 75px;
  background-color: black;
  padding: auto;
}

.rightArrow:hover {
  background-color: #79f9ba;
}

.date {
  background-color: gray;
  border-radius: 200px 500px 500px 0px;
  padding: 4px;
  padding-left: 8px;
  margin-top: 16px;
  margin-bottom: 8px;
  line-height: 22px;
  font-size: 16px;
  font-weight: 600;
  width: 100px;
  color: #fbfbfb;
}

.title {
  padding-top: 8px;
  padding-bottom: 4px;
  color: #fbfbfb;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  background-color: transparent;
}

.card {
  margin: 4px;
  padding: 4px;
  background-color: transparent;
}

.new-card {
  margin: 4px;
  padding: 4px;
  transform: scale(1.01);
  background-color: transparent;
}

.card-body {
  color: white;
  padding-bottom: 8px;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 22px;
  opacity: 0.45;
  letter-spacing: -0.3px;
  font-weight: 400;
  background-color: transparent;
}
.cards {
  display: flex;
  background-color: transparent;
}

.curtain {
  display: flex;
  background-color: transparent;
}

.main-line {
  /* height: 47px; */
  width: 1330px;
  border-bottom: 1.5px solid white;
  /* position: absolute; */
  margin-bottom: 32px;
}

.curved-line {
  width: 75px;
  height: 75px;
  border-radius: 75px 0 0 0;
  border-top: 1.5px solid white;
  border-left: 1.5px solid white;
  position: absolute;
  left: 6.5%;
  background-color: transparent;
}

.verti-line {
  position: absolute;
  border-left: 1.5px solid white;
  height: 150px;
  left: 6.5%;
  top: 34%;
}

.ball1 {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 2;
  background-color: white;
  /* left: 50px; */
  top: 50%;
  left: 5.9%;
}

.ball1-outline {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  /* z-index: -1; */
  background-color: white;
  opacity: 0.3;
  position: absolute;
  top: 47.5%;
  left: 4.5%;
}

.ball2 {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 2;
  background-color: white;
  /* left: 50px; */
  top: 25%;
  left: 38%;
}

.ball2-outline {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  /* z-index: -1; */
  background-color: white;
  opacity: 0.3;
  position: absolute;
  top: 22.5%;
  left: 36.6%;
}

.ball3 {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 2;
  background-color: white;
  /* left: 50px; */
  top: 25%;
  left: 63%;
}

.ball3-outline {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  /* z-index: -1; */
  background-color: white;
  opacity: 0.3;
  position: absolute;
  top: 22.5%;
  left: 61.6%;
}

.arrows {
  display: flex;
  position: relative;
  margin-left: 56px;
  top: 2%;
  background-color: transparent;
  /* margin: 4rem;
  margin-top: 4rem; */
  /* padding: auto; */
}

.arrow-icon {
  position: relative;
  top: 52%;
  left: 70%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

.card:hover {
  transform: scale(1.01);
}

@media only screen and (max-width: 600px) {
  .headline {
    font-size: 32px;
    background-color: transparent;
  }
  .main-line {
    display: none;
    background-color: transparent;
  }
  .cards {
    display: flex;
    flex-direction: column;
    background-color: transparent;
  }
  .curtain {
    display: flex;
    flex-direction: column;
  }
  .big-box {
    width: 400px;
    margin: 0%;
    padding: 30px;
    padding-top: 60px;
    left: 0;
    right: 0;
  }
}
