@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Manrope:wght@400;500;600&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  --blue: #238cdb;
  --green: #79f9ba;
  --white: #ffffff;
  margin: 0;
  padding: 0;
  background: black;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: white;
  box-sizing: border-box;
}

:root {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
}

section {
  margin: 200px 0;
}

section:first-of-type {
  margin-top: 0;
}

section:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 800px) {
  section {
    margin: 100px 0;
  }
}

